section.question-q.ox-control
  div.question-q.ox-button.o(class=(isTrue()) onClick=toggle(1))
    Fa(icon='circle-o')
  div.question-q.ox-button.x(class=(isFalse()) onClick=toggle(0))
    Fa(icon='times')