section.question-q.ox-control
  div.question-q.ox-button.o(class=(is_true()) onClick=toggle(1))
    Fa(icon='circle-o')
  div.question-q.ox-button.x(class=(is_false()) onClick=toggle(0))
    Fa(icon='times')