ul.question-q.options
  each option, index in options
    li.question-q.option(onClick=toggle(option.id))
      div.question-q.checker
        span.question-q.check(class=is_active(option.id))
          Fa(icon='check' scale=2)
      div.question-q.a-text(dangerouslySetInnerHTML=option.marked)
